body{
	font-family: 'Raleway', sans-serif;
	margin: 0;
	padding: 0;
}
nav{
	/*overflow: hidden;*/
	width: 100%;
	position: static;
	z-index: 1;
	top: 0;
	background-color: white;
	border-bottom: 1px solid #CAC6C6;
	color: black;
}
nav a{
	color: #9F9A99;
}
nav a:hover{
	color: black;
}
nav li{
	padding: 10px;
}
nav ul{
	/*padding-left: 80px;*/
	list-style-type: none;
	/*
	margin-left: 0px;
	margin-right: 0px;*/
}
.nav_brand{
	font-weight: bold;
	font-size: 25px;
	font-family: 'Roboto Condensed', sans-serif;
}
.nav_fa{
	font-size: 20px;
	color: black;
	font-weight: bold;
}
input[type="search"]{
	border:none;
	-webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
  	transition: width 2s;
  	outline:none;
}

input[type="search"]:focus{
	width: 300px;
	
}



/*banner*/
.banner{
	background-image: url(../images/bg-img/bg-1.jpg);
	height: 90vh;
	/*margin-top: 90px;*/
	background-size: cover;
	background-repeat: no-repeat;
}
.inner_banner{
	margin-top: 80px;
}
.sale_banner h1,.banner h1{
	font-weight: bolder;
	font-size: 60px;
}
.banner .inner_banner h5{
	font-weight: bolder;
	color: #81807F;
}
.sale_banner button,.banner .inner_banner button{
	border:none;
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 2px;
	background-color: blue;
	padding: 18px 35px;
	margin-top: 40px;
	color: white;
}
/*banner*/
/*Categories*/

	.category{
		margin-top: 30px;
		margin-bottom: 30px;
		position: relative;
	}
	.overlay{
		position: absolute;
		min-width: 92.5%;
		min-height: 100%;
		background-color: rgba(255,255,255,0.5);
	}
	.overlay a{
		padding-top: 90px;
		font-size: 30px;
		letter-spacing: 1px;
		text-transform: uppercase;
		text-decoration: none;
		display: block;
		font-weight: bolder;
		text-align: center;
		color: #000000;
	}
	.overlay a:hover{
		color: #6F79A4;
	}
	.category img{
		max-width: 100%;
		max-height: 100%;
	}
/*Categories*/

/*Global sale*/
.sale_banner{
	background-image: url(../images/bg-img/bg-5.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 80vh;
	margin-bottom: 50px;
}
.sale_banner p{
	color: #F3285C;
	font-size: 25px;
	letter-spacing: 1px;

	font-weight: bolder;
}
.col_sale_banner{
	margin-top: 150px;
	/*padding: 20px;*/
}

.brands{
	background-color: #f5f7f9;
}
.brands img{
	width: 120px;
	height: auto;
}

/*footer*/
.footer{
	padding: 60px;
	background-color: #252525;
	color:#a8a893;
}
.footer ul{
	list-style-type: none;
	/*display: inline-block;*/
}
.social_media ul{
	font-size: 13px;
}
.icons{
	margin-left: 40px;
	margin-top: 50px;
}
.icons i{
	margin: 10px;
	color: white;
}

/*footer*/


/*Contact.html*/
.contact_us{
	margin-top: 90px;
	padding: 50px;
}
.contact_us h2{
	font-weight: bolder;
	margin-bottom: 40px;
}
.contact_us p{
	font-size: 13px;
}
.contact p b{
	letter-spacing: 1px;
}
.contact_us p:first-of-type{
	color: #9F9FA0;
	font-size: 17px;
	margin-bottom: 70px;
	letter-spacing: normal;
}
.contact_us a{
	display: block;
	color: #7F8081;
	margin-top :70px;
}
/*contact.html*/

/*blog.html*/
.blog_banner{
	background-image: url(../images/bg-img/breadcumb2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.blog_banner div{
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.9);
}

.blog_banner h1{
	padding: 160px;
	font-size: 70px;
	text-align: center;
	font-weight: bolder;
	color: blue;
}
.blog_img{
	overflow: hidden;
	
}
.blog img{
	max-width: 100%;
	max-height: 100%;
	transition: all 1s;
}
.blog img:hover{
	transform: scale(1.2,1.2);
}
.blog .abs_text{
	top: 211px;	
	width: 80%;
	background-color: white;
	padding: 15px 30px;
}

.blog .abs_text h5{
	font-weight: bolder;
	font-size: 17px;
	letter-spacing: 1px;
}

.blog .abs_text p{
	margin-top: 30px;
}

.blog .abs_article{
	top: 0;
	bottom: 0;
	width: 80%;
	display: none;
	background-color: white;
	padding: 30px 40px;
	/*transition: all 1s;*/
}
.blog .abs_article p{
	margin-top: 40px;
	font-size: 15px;
	color: #888888;
}
.blog .abs_article h5{
	font-weight: bolder;
	font-size: 17px;
	letter-spacing: 1px;
}
.blog .abs_article a{
	display: block;
	margin-top: 60px;
	font-size: 13px;
	font-weight: bold;
	color: blue;
}
